services:
    # PHP-FPM сервис
    app:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: laravel_app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - ./:/var/www
            - ./docker/php/php.ini:/usr/local/etc/php/php.ini
        networks:
            - app-network

    #CRON для Laravel Scheduler
    cron:
      build:
        context: .
        dockerfile: docker/php/Dockerfile
      container_name: laravel_cron
      restart: unless-stopped
      working_dir: /var/www
      volumes:
        - ./:/var/www
        - ./docker/php/php.ini:/usr/local/etc/php/php.ini
      command: >
        sh -c "echo '* * * * * cd /var/www && /usr/local/bin/php artisan schedule:run >> /var/www/storage/logs/cron.log 2>&1' | crontab -
        && cron -f"
      networks:
        - app-network

    # Nginx сервис
    webserver:
        image: nginx:1.29.3-alpine
        container_name: nginx_server
        restart: unless-stopped
        ports:
            - "80:80"
            - "433:433"
        volumes:
            - ./:/var/www
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - app-network

    # Node.js для сборки Vue
    node:
        build:
            context: .
            dockerfile: docker/node/Dockerfile
        container_name: node_builder
        working_dir: /var/www
        volumes:
            - ./:/var/www
        command: tail -f /dev/null
        networks:
            - app-network
        ports:
          - "5173:5173"

    # MySQL база данных
    db:
        image: mysql:8.0
        container_name: mysql_db
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_USER: ${DB_USERNAME}
        volumes:
            - dbdata:/var/lib/mysql
        ports:
            - "3306:3306"
        networks:
            - app-network

    # Redis
    redis:
        image: redis:alpine
        container_name: redis_cache
        restart: unless-stopped
        ports:
            - "6379:6379"
        networks:
            - app-network

volumes:
    dbdata:

networks:
    app-network:
        driver: bridge
